<link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach (var experience in ViewBag.VExperience)
        {
        <div class="col-md-4">
            <div class="card" style="width: 20em; height: 30em;">
                   <img src="@experience.ImageURL" class="card-img-top" alt="Experience image" />
                <div class="card-body">
                    <h5 class="card-title">@experience.Job</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@experience.EnterpriseName</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@experience.Dates</h6>
                        <p class="card-text" style="height: 6em;">@experience.Description</p>
                    <a href="@experience.Link" class="btn mr-2"><i class="fas fa-link"></i>Visitar Sitio Web</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>